.commentCard {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  gap: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.commentSection {
  flex: 1;
}

.commentHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.commentName {
  font-weight: 700;
  color: #111;
}

.commentEmail {
  color: gray;
  font-size: 13px;
}

.commentBody {
  font-size: 12px;
  margin-top: 5px;
  color: #363636;
}

.commentDot{
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.commentDot:hover{
  color: #1d9bf0;
}